.content {
  background: inherit; }

.off_canvas_container {
  background: inherit; }

.off_canvas_top_menu {
  get-opposite-padding(left): 0;
  width: auto; }

.off_canvas_toggles {
  min-width: 8em; }

nav.off_canvas {
  min-width: 8em; }
  nav.off_canvas ul {
    min-width: 8em; }
  nav.off_canvas > ul ul {
    background: none;
    min-width: 8em; }

.off_canvas_responsive_menu_block .content {
  padding: 2.5em 1em 1em 1em;
  background: none;
  box-shadow: none;
  position: inherit; }
.off_canvas_responsive_menu_block .off_canvas_animate.close {
  opacity: 0; }

.off_canvas_responsive_menu_block {
  position: relative;
  z-index: 9999; }

.content_animate.slide {
  text-align: left; }

.nav_close_btn {
  padding: 0.6em 0.1em 0.6em 0; }

.nav_prev_btn {
  padding: 0.75em 0.75em 0.75em 0; }

@media only screen and (max-width: 64em) {
  .off_canvas_container.open {
    overflow-y: hidden; }

  .off_canvas_container.open ul.nav_level_current {
    overflow-y: hidden; } }

/*# sourceMappingURL=off_canvas_nav.css.map */
