// How wide the off-canvas navigation menu is (when opened)
$off-canvas-width: 8em;

// Position of the off-canvas navigation, options: right or left
$off-canvas-position: left;

$off-canvas-breakpoint: 64em;

.content {
	background: inherit;
}
.off_canvas_container {
	background: inherit;
}
.off_canvas_top_menu {
	#{get-opposite-padding($off-canvas-position)}: 0;
	width: auto;
}
.off_canvas_toggles {
	min-width: $off-canvas-width;
}
nav.off_canvas {
	min-width: $off-canvas-width;
	ul {
		min-width: $off-canvas-width;
	}
	> ul ul {
		background: none;
		min-width: $off-canvas-width;
	}
}
.off_canvas_responsive_menu_block {
    .content {
	  padding: 2.5em 1em 1em 1em;
	  background: none;
      box-shadow: none;
      position: inherit;
	}
	.off_canvas_animate.close {
	  opacity: 0;
	}
}

.off_canvas_responsive_menu_block {
  position: relative;
  z-index: 9999;
}

//override scss to change default value
.content_animate.slide {
  text-align: left;
}

.nav_close_btn {
  padding: 0.6em 0.1em 0.6em 0;
}

.nav_prev_btn {
  padding: 0.75em 0.75em 0.75em 0;
}

//
// Mixins
//

@mixin off-canvas-breakpoint {
  @media only screen and (max-width: $off-canvas-breakpoint) {
    @content;
  }
}

@include off-canvas-breakpoint {

	.off_canvas_container.open {
		overflow-y: hidden;
	}
	.off_canvas_container.open ul.nav_level_current {
		overflow-y: hidden;
	}
}
